# ignore stray files from other branches rather generously; the root here will
# be the Doxygen HTML output, so this file will be quite different from the
# other branches.

node_modules/
documentation/
src/
test/

*.ts
doxyfile
