{
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 103,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": true,
  "proseWrap": "always",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto"
}
