/** @format */

body {
  background: black;
  color: white;
  margin: 5px 50px;
}

.captions > ol > li {
  display: block;
  margin: 0.3em -50px;
  padding: 0.5em 50px;
}

.captions ol > li > span[data-confidence]:hover:after {
  content: ' @' attr(data-confidence);
  color: gray;
  font-size: 0.8em;
}

#status-ticks {
  color: blue;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-left: -5px;
  height: 15px;
}

#status-ticks[data-ticks]:before {
  content: attr(data-ticks);
}

#status-ticks[data-ticks^='1'] {
  color: purple;
}

#status-ticks[data-ticks^='2'] {
  color: red;
  font-weight: bold;
}

#status-ticks[data-ticks^='1']:after {
  content: '?';
}

#status-ticks[data-ticks^='2']:after {
  content: '!';
}

p#status-ticks[data-ticks='0'],
p#status-ticks[data-ticks='1'],
p#status-ticks[data-ticks='2'] {
  color: pink;
}

p#status-ticks[data-ticks='0']:after {
  content: ' UwU';
}

p#status-ticks[data-ticks='1']:after,
p#status-ticks[data-ticks='2']:after {
  content: none;
}

#status-service,
#status-captioning.active,
#status-audio.active,
#status-sound.active,
#status-speech.active {
  font-weight: bold;
  color: green;
}

#status-last-error {
  display: block;
  position: absolute;
  top: 5px;
  right: 50px;
  font-weight: bold;
  color: red;
}

#status-last-error-message {
  display: block;
  position: absolute;
  top: 25px;
  right: 50px;
  color: gray;
  size: 0.8em;
}

#status-service,
#status-captioning,
#status-audio,
#status-sound,
#status-speech {
  display: block;
  position: absolute;
  top: 25px;
  left: 50px;
  font-weight: bold;
  color: gray;
}

#status-captioning {
}
#status-audio {
  left: 140px;
}
#status-sound {
  left: 190px;
}
#status-speech {
  left: 240px;
}

#status-service {
  top: 50px;
}

span {
  color: gray;
}

.captions ol li.final,
.captions ol li.final span {
  background: black;
  color: white;
  font-weight: bold;
}

.captions ol > li.final {
  color: gray;
  font-weight: bold;
}

.captions ol li.final span.interim {
  font-weight: normal;
  font-size: 0.9em;
  color: gray;
  padding-right: 0.5em;
}

.captions ol > li > span {
  display: none;
}

.captions ol > li:hover > span,
.captions ol > li > span.final:last-child,
.captions ol > li > span.interim:last-child {
  display: inline;
}

.captions ol {
  display: flex;
  flex-direction: column-reverse;
  padding-inline-start: 0;
}

.captions ol > li {
  flex: 1;
}

.captions ol li span > span {
  padding: 5px 20px;
}

p#last-final {
  display: none;
}

.captions ol li {
  display: none;
}

.captions ol li:nth-last-child(2),
.captions ol li:last-child {
  display: block;
  border-bottom: 1px solid gray;
}

.captions ol li:last-child {
  font-size: 1.8em;
  color: white;
  margin: 1em -50px;
}

.captions ol li:nth-last-child(2) {
  font-size: 1.5em;
}

.captions ol li.final,
.captions ol li.abandoned:last-child,
.captions ol li.interim:last-child {
  display: block;
}
