
body {
  background: black;
  color: white;
  margin: 5px 50px;
}

ol#caption li {
  display: block;
  margin: .3em -50px;
  padding: .5em 50px;
}

ol#caption li span[data-confidence]:after {
  content: " @" attr(data-confidence);
  color: gray;
  font-size: .8em;
}

ol#caption span {
}

#status-service,
#status-captioning.active,
#status-audio.active,
#status-sound.active,
#status-speech.active {
  display: inline-block;
  font-weight: bold;
  color: green;
}

#status-captioning,
#status-audio,
#status-sound,
#status-speech {
  display: inline-block;
  color: gray;
}

span {
  color: gray;
}

ol#caption li.final,
ol#caption li.final span {
  background: black;
  color: white;
  font-weight: bold;
}

ol#caption li.final {
  color: gray;
  font-weight: bold;
}

ol#caption li.final span.interim {
  font-weight: normal;
  font-size: .9em;
  color: gray;
  padding-right: .5em;
}

ol#caption li span.interim {
  display: none;
}

ol#caption li span.interim:last-child {
  display: inline;
}

ol#caption li.final:hover span.interim,
ol#caption li.final:focus span.interim,
ol#caption li.final:active span.interim {
  display: inline-block;
}

ol#caption { 
  display: flex;
  flex-direction: column-reverse;
  padding-inline-start: 0;
}

ol#caption > li {
  flex: 1;
}

ol#caption li span > span {
  padding: 5px 20px;
}

p#last-final {
  display: none;
}

ol#caption li:nth-last-child(2),
ol#caption li:last-child {
  display: block;
  border-bottom: 1px solid gray;
}

ol#caption li:last-child {
  font-size:1.8em;
  color: white;
  margin: 1em -50px;
}

ol#caption li:nth-last-child(2) {
  font-size: 1.5em;
}
