/** @format */

body {
  background: black;
  color: white;
  margin: 2em;
  font-family: sans-serif;
  font-size: 1.5em;
}

.captions p[is='caption-ticker'] {
  color: blue;
  text-align: right;
}

.captions p[is='caption-ticker']:before {
  display: inline;
  content: ' ';
}

.captions p {
  display: inline;
  font-weight: bold;
  color: gray;
}

.captions p.active {
  color: green;
}

.captions > ol > li > span {
  font-weight: bold;
}

.captions > ol > li.abandoned,
.captions > ol > li > span {
  display: none;
}

.captions > ol > li.final,
.captions > ol > li span.final:last-child {
  display: inline;
  color: white;
}

.captions > ol > li > span:after {
  display: inline;
  content: ' ';
}

.captions > ol > li {
  display: inline;
  margin: 1em 0;
}

.captions > ol {
  table-layout: fixed;
}

.captions > ol.transcript {
  display: block;
  min-height: 6em;
}

.captions > ol.history > li.final:hover {
  background: #221155;
}

.captions > ol.history > li.final {
  display: block;
  padding: 0.5em;
  margin: 0.5em -0.5em;
}

.captions > ol {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

.captions > ol > li > span.final:last-child,
.captions > ol > li > span.interim:last-child {
  display: inline;
}

.captions > ol > li > span.interim {
  color: gray;
  cursor: progress;
}

.captions > ol > li > span.interim:before {
  color: purple;
  content: '[ ';
}

.captions > ol > li.interim:last-child > span.interim:after {
  color: purple;
  content: ' ... ]';
}

.captions > ol > li > span.interim:after {
  color: purple;
  content: ' ]';
}

.captions > ol.history {
  display: flex;
  flex-direction: column-reverse;
  padding-inline-start: 0;
}

.captions > ol.history > li {
  flex: 1;
}

.captions > ol > li > span.error {
  color: purple;
  display: inline;
}

.captions > ol > li > span.error:before {
  content: 'error ' attr(data-error);
  color: purple;
  display: block;
}

.captions > ol > li.final {
  cursor: zoom-in;
  user-select: none;
}

.captions ol.history > li:active > span[data-confidence]:after {
  content: ' @' attr(data-confidence);
  color: gray;
  font-size: 0.8em;
}

.captions > ol > li.final:active > span.final {
  display: block;
  font-weight: normal;
  font-size: 0.7em;
}

.captions > ol > li.final:active > span.final:last-child {
  font-size: 1em;
  font-weight: bold;
  color: white;
}
